Hands-on Activity 6.1 Introduction to Data Analysis and Tools

CPE311 Computational Thinking with Python
Name: Narag, Andrew Jermaine
Section: CPE22S3
Performed on: 02/12/2026
Submitted on: 02/12/2026
Submitted to: Engr. Neil

**6.1 Intended Learning Outcome**
**. Use pandas and numpy data analysis tools.**
**. Demonstrate how to analyze data using numpy and pandas**

**6.2 Resources:**

**Personal Computer**

**Jupyter Notebook**

**Internet Connection**


**6.3 Supplementary Activities:**

# Exercise 1

**Run the given code below for exercises 1 and 2,**

**perform the given tasks without using any Python modules.**

In [12]:
#mean
total = sum(salaries)
count = len(salaries)
mean = total / count

print(mean)

585690.0

# To get the mean we first sum the salaries and divide it by how many values it has in total.

In [21]:
#median
def calculate_median(salaries):
  sorted_list = sorted(salaries)

  n = len(sorted)
  mid_index = n//2
  if n % 2 == 1:
    median = sorted_list(mid_index)
  else:
    median = (sorted_list[mid_index-1] + sorted_list[mid_index])/2

  return median
print(median)

589000.0

# To get the median, first off it is sorted then divided by 2.

In [9]:
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]
print(salaries)

[844000.0, 758000.0, 421000.0, 259000.0, 511000.0, 405000.0, 784000.0, 303000.0, 477000.0, 583000.0, 908000.0, 505000.0, 282000.0, 756000.0, 618000.0, 251000.0, 910000.0, 983000.0, 810000.0, 902000.0, 310000.0, 730000.0, 899000.0, 684000.0, 472000.0, 101000.0, 434000.0, 611000.0, 913000.0, 967000.0, 477000.0, 865000.0, 260000.0, 805000.0, 549000.0, 14000.0, 720000.0, 399000.0, 825000.0, 668000.0, 1000.0, 494000.0, 868000.0, 244000.0, 325000.0, 870000.0, 191000.0, 568000.0, 239000.0, 968000.0, 803000.0, 448000.0, 80000.0, 320000.0, 508000.0, 933000.0, 109000.0, 551000.0, 707000.0, 547000.0, 814000.0, 540000.0, 964000.0, 603000.0, 588000.0, 445000.0, 596000.0, 385000.0, 576000.0, 290000.0, 189000.0, 187000.0, 613000.0, 657000.0, 477000.0, 90000.0, 758000.0, 877000.0, 923000.0, 842000.0, 898000.0, 923000.0, 541000.0, 391000.0, 705000.0, 276000.0, 812000.0, 849000.0, 895000.0, 590000.0, 950000.0, 580000.0, 451000.0, 660000.0, 996000.0, 917000.0, 793000.0, 82000.0, 613000.0, 486000.0]

In [23]:
#mode
from collections import Counter
counts = Counter(salaries)
most_common = counts.most_common(1)
mode = most_common[0][0]
max_count = max(counts.values())
modes = [item for item, count in counts.items() if count == max_count]
print(mode)
print(modes)

477000.0
[477000.0]

# Using the counter library we can use counts to get the most common repeated value in the list therefore getting the mode.

In [32]:
#variance
avg = sum(salaries)/len(salaries)
len_minus_one = len(salaries) - 1

x_mean_squared = []
for salary in salaries:
  temp = (salary - avg)**2
  x_mean_squared.append(temp)


summation = sum(x_mean_squared)
variance = summation/len_minus_one


print(variance)

70664054444.44444

# To get the variance we first get the mean squared then dividing it to our list.

In [33]:
#standard deviation
Sd = variance ** 0.5
print(Sd)

265827.11382484

# Using the outputted variance we can multiply it to the power of 0.5 to get the standard deviation.

# Exercise 2
Using the same data, calculate the following statistics using the functions in the statistics module where appropriate:
Range
Coefficient of variation Interquartile range
Quartile coefficient of dispersion

In [10]:
#Range
import random
random.seed(0)
salaries = [round(random.random()*1000000, -3) for _ in range(100)]
high = max(salaries)
low = min(salaries)
range = high - low
print (range)

995000.0

# We first get the max and min values of the salaries then get the difference of them to get the range.

In [38]:
#Interquartile range
from scipy import stats
import numpy as np
data = np.array(salaries)

iqr = stats.iqr(salaries)
print(iqr)

413250.0

# To get the iqr I implemented numpy and scipy libraries to use their designated function to solve for it.

In [47]:
# Coefficient of variation
import numpy as np
q1 = np.quantile(salaries,0.25)
q3 = np.quantile(salaries,0.75)
iqr = q3 - q1
print(iqr)

413250.0

# Used the standard deviation and mean multiplied by 100 to get the coefficient of variation.

In [48]:
# Quartile coefficient of dispersion
qcd = (q3-q1)/(q3+q1)
print(qcd)

0.338660110633067

# Divided the coefficient of variation with itself.

# Write a comment per statistical function

In [2]:
import pandas as pd
import numpy as np

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [41]:
data = pd.read_csv("/content/drive/MyDrive/Foldah/diabetes.csv")

# Exercise 3: Pandas for Data Analysis

**Perform the following tasks in the diabetes dataframe:**

1. Identify the column names

In [50]:
print(data.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

2. Identify the data types of the data

In [53]:
print(data.dtypes)

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

3. Display the total number of records

In [59]:
print(data.count())

Pregnancies                 768
Glucose                     768
BloodPressure               768
SkinThickness               768
Insulin                     768
BMI                         768
DiabetesPedigreeFunction    768
Age                         768
Outcome                     768
dtype: int64

4.  Display the first 20 records

In [60]:
print(data.head(20))

    Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0             6      148             72             35        0  33.6
1             1       85             66             29        0  26.6
2             8      183             64              0        0  23.3
3             1       89             66             23       94  28.1
4             0      137             40             35      168  43.1
5             5      116             74              0        0  25.6
6             3       78             50             32       88  31.0
7            10      115              0              0        0  35.3
8             2      197             70             45      543  30.5
9             8      125             96              0        0   0.0
10            4      110             92              0        0  37.6
11           10      168             74              0        0  38.0
12           10      139             80              0        0  27.1
13            1      189             60             23      846  30.1
14            5      166             72             19      175  25.8
15            7      100              0              0        0  30.0
16            0      118             84             47      230  45.8
17            7      107             74              0        0  29.6
18            1      103             30             38       83  43.3
19            1      115             70             30       96  34.6

    DiabetesPedigreeFunction  Age  Outcome
0                      0.627   50        1
1                      0.351   31        0
2                      0.672   32        1
3                      0.167   21        0
4                      2.288   33        1
5                      0.201   30        0
6                      0.248   26        1
7                      0.134   29        0
8                      0.158   53        1
9                      0.232   54        1
10                     0.191   30        0
11                     0.537   34        1
12                     1.441   57        0
13                     0.398   59        1
14                     0.587   51        1
15                     0.484   32        1
16                     0.551   31        1
17                     0.254   31        1
18                     0.183   33        0
19                     0.529   32        1

5. Display the last 20 records

In [63]:
print(data.tail(20))

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
748            3      187             70             22      200  36.4
749            6      162             62              0        0  24.3
750            4      136             70              0        0  31.2
751            1      121             78             39       74  39.0
752            3      108             62             24        0  26.0
753            0      181             88             44      510  43.3
754            8      154             78             32        0  32.4
755            1      128             88             39      110  36.5
756            7      137             90             41        0  32.0
757            0      123             72              0        0  36.3
758            1      106             76              0        0  37.5
759            6      190             92              0        0  35.5
760            2       88             58             26       16  28.4
761            9      170             74             31        0  44.0
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
748                     0.408   36        1
749                     0.178   50        1
750                     1.182   22        1
751                     0.261   28        0
752                     0.223   25        0
753                     0.222   26        1
754                     0.443   45        1
755                     1.057   37        1
756                     0.391   39        0
757                     0.258   52        1
758                     0.197   26        0
759                     0.278   66        1
760                     0.766   22        0
761                     0.403   43        1
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

6.  Change the Outcome column to Diagnosis

In [82]:
rename = data.rename(columns={'Outcome' : 'Diagnosis'})
print(rename.columns)

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Diagnosis'],
      dtype='object')

7. Create a new column Classification that display "Diabetes" if the value of outcome is 1 , otherwise "No Diabetes"

In [95]:
df = pd.DataFrame(data)
df['Classification'] = np.where(df['Outcome'] == 1, 'Diabetes', 'No Diabetes')
print(df)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome Classification
0                       0.627   50        1       Diabetes
1                       0.351   31        0    No Diabetes
2                       0.672   32        1       Diabetes
3                       0.167   21        0    No Diabetes
4                       2.288   33        1       Diabetes
..                        ...  ...      ...            ...
763                     0.171   63        0    No Diabetes
764                     0.340   27        0    No Diabetes
765                     0.245   30        0    No Diabetes
766                     0.349   47        1       Diabetes
767                     0.315   23        0    No Diabetes

[768 rows x 10 columns]

8.  Create a new dataframe "withDiabetes" that gathers data with diabetes

In [97]:
no_diabetes = data[data.Outcome == 1]
print(no_diabetes)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
2              8      183             64              0        0  23.3
4              0      137             40             35      168  43.1
6              3       78             50             32       88  31.0
8              2      197             70             45      543  30.5
..           ...      ...            ...            ...      ...   ...
755            1      128             88             39      110  36.5
757            0      123             72              0        0  36.3
759            6      190             92              0        0  35.5
761            9      170             74             31        0  44.0
766            1      126             60              0        0  30.1

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
2                       0.672   32        1
4                       2.288   33        1
6                       0.248   26        1
8                       0.158   53        1
..                        ...  ...      ...
755                     1.057   37        1
757                     0.258   52        1
759                     0.278   66        1
761                     0.403   43        1
766                     0.349   47        1

[268 rows x 9 columns]

9. Create a new dataframe "noDiabetes" thats gathers data with no diabetes

In [98]:
no_diabetes = data[data.Outcome == 0]
print(no_diabetes)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
1              1       85             66             29        0  26.6
3              1       89             66             23       94  28.1
5              5      116             74              0        0  25.6
7             10      115              0              0        0  35.3
10             4      110             92              0        0  37.6
..           ...      ...            ...            ...      ...   ...
762            9       89             62              0        0  22.5
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
1                       0.351   31        0
3                       0.167   21        0
5                       0.201   30        0
7                       0.134   29        0
10                      0.191   30        0
..                        ...  ...      ...
762                     0.142   33        0
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
767                     0.315   23        0

[500 rows x 9 columns]

10. Create a new dataframe "Pedia" that gathers data with age 0 to 19

In [99]:
Pedia = data[data.Age <= 19]
print(Pedia)

Empty DataFrame
Columns: [Pregnancies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age, Outcome]
Index: []

11. Create a new dataframe "Adult" that gathers data with age greater than 19

In [100]:
Pedia = data[data.Age > 19]
print(Pedia)

     Pregnancies  Glucose  BloodPressure  SkinThickness  Insulin   BMI  \
0              6      148             72             35        0  33.6
1              1       85             66             29        0  26.6
2              8      183             64              0        0  23.3
3              1       89             66             23       94  28.1
4              0      137             40             35      168  43.1
..           ...      ...            ...            ...      ...   ...
763           10      101             76             48      180  32.9
764            2      122             70             27        0  36.8
765            5      121             72             23      112  26.2
766            1      126             60              0        0  30.1
767            1       93             70             31        0  30.4

     DiabetesPedigreeFunction  Age  Outcome
0                       0.627   50        1
1                       0.351   31        0
2                       0.672   32        1
3                       0.167   21        0
4                       2.288   33        1
..                        ...  ...      ...
763                     0.171   63        0
764                     0.340   27        0
765                     0.245   30        0
766                     0.349   47        1
767                     0.315   23        0

[768 rows x 9 columns]

12.  Use numpy to get the average age and glucose value.

In [107]:
avg_age = np.mean(data['Age'])
avg_glucose = np.mean(data['Glucose'])
print(avg_age)
print(avg_glucose)

33.240885416666664
120.89453125

13. Use numpy to get the median age and glucose value.

In [106]:
avg_age = np.median(data['Age'])
avg_glucose = np.median(data['Glucose'])
print(avg_age)
print(avg_glucose)

29.0
117.0

14. Use numpy to get the middle values of glucose and age.

In [ ]:
avg_age = np.median(data['Age'])
avg_glucose = np.median(data['Glucose'])
print(avg_age)
print(avg_glucose)

15. Use numpy to get the standard deviation of the skinthickness.

In [108]:
st_skin = np.std(data['SkinThickness'])
print(st_skin)

15.941828626496978

#6.4 Conclusion

In conclusion, I was tasked to firstly handle the exercises 1 without relying on statistics library therefore only relying on normal python codes to solve the mean, median, mode, sample variance then standard deviaton. Then in exercise 2 we were tasked to get the range, coefficient of variation, interqurtile range, and quartile coefficient of dispersion but now I can use the statistics module therefore actively lessening the lines of code because tasks such as getting the mean has a function in numpy or scipy. Finally exercise 3 I mounted the required dataframe and following the tasks I have been assigned I actively modified it to only output what I need it to, I also created new columns and dataframes to sort the output of the asked restrictions. Also we trace back again to numpy to simplify the average, median, middle, and standard deviation of the required task.