Using the 2019_Yellow_Taxi_Trip_Data.csvLinks to an external site. dataset, accomplish the following items and submit a PDF of the notebook:

In [1]:
import pandas as pd
import numpy as np

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Create a DataFrame by reading in the 2019_Yellow_Taxi_Trip_Data.csv file. Examine the first 5 rows.

In [8]:
data = pd.read_csv("/content/drive/MyDrive/Foldah/2019_Yellow_Taxi_Trip_Data.csv")
data.head(5)

,vendorid,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,ratecodeid,store_and_fwd_flag,pulocationid,dolocationid,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,2,2019-10-23T16:39:42.000,2019-10-23T17:14:10.000,1,7.93,1,N,138,170,1,29.5,1.0,0.5,7.98,6.12,0.3,47.90,2.5
1,1,2019-10-23T16:32:08.000,2019-10-23T16:45:26.000,1,2.00,1,N,11,26,1,10.5,1.0,0.5,0.00,0.00,0.3,12.30,0.0
2,2,2019-10-23T16:08:44.000,2019-10-23T16:21:11.000,1,1.36,1,N,163,162,1,9.5,1.0,0.5,2.00,0.00,0.3,15.80,2.5
3,2,2019-10-23T16:22:44.000,2019-10-23T16:43:26.000,1,1.00,1,N,170,163,1,13.0,1.0,0.5,4.32,0.00,0.3,21.62,2.5
4,2,2019-10-23T16:45:11.000,2019-10-23T16:58:49.000,1,1.96,1,N,163,236,1,10.5,1.0,0.5,0.50,0.00,0.3,15.30,2.5

Find the dimensions (number of rows and number of columns) in the data.

In [19]:
print(data.info())
print("Size of Data (Rows Multiplied by Columns):")
print(data.size)
print("Shape of Data:")
print(data.shape)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   vendorid               10000 non-null  int64
 1   tpep_pickup_datetime   10000 non-null  object
 2   tpep_dropoff_datetime  10000 non-null  object
 3   passenger_count        10000 non-null  int64
 4   trip_distance          10000 non-null  float64
 5   ratecodeid             10000 non-null  int64
 6   store_and_fwd_flag     10000 non-null  object
 7   pulocationid           10000 non-null  int64
 8   dolocationid           10000 non-null  int64
 9   payment_type           10000 non-null  int64
 10  fare_amount            10000 non-null  float64
 11  extra                  10000 non-null  float64
 12  mta_tax                10000 non-null  float64
 13  tip_amount             10000 non-null  float64
 14  tolls_amount           10000 non-null  float64
 15  improvement_surcharge  10000 non-null  float64
 16  total_amount           10000 non-null  float64
 17  congestion_surcharge   10000 non-null  float64
dtypes: float64(9), int64(6), object(3)
memory usage: 1.4+ MB
None
Size of Data (Rows Multiplied by Columns):
180000
Shape of Data:
(10000, 18)

Using the data in the 2019_Yellow_Taxi_Trip_Data.csv file, calculate summary statistics for the fare_amount, tip_amount, tolls_amount, and total_amount columns

In [16]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
vendorid,10000.0,1.633700,0.481817,1.00,1.000,2.0,2.00,2.00
passenger_count,10000.0,1.497700,1.139353,0.00,1.000,1.0,2.00,6.00
trip_distance,10000.0,3.015250,4.148063,0.00,0.920,1.5,2.76,38.11
ratecodeid,10000.0,1.084200,0.418244,1.00,1.000,1.0,1.00,5.00
pulocationid,10000.0,166.900400,63.791288,1.00,132.000,162.0,234.00,265.00
dolocationid,10000.0,166.313500,68.525953,1.00,132.000,163.0,236.00,265.00
payment_type,10000.0,1.301000,0.486644,1.00,1.000,1.0,2.00,4.00
fare_amount,10000.0,15.106313,13.954762,-52.00,7.000,10.0,16.00,176.00
extra,10000.0,1.960235,1.392940,-4.50,1.000,1.0,3.50,7.00
mta_tax,10000.0,0.492450,0.071544,-0.50,0.500,0.5,0.50,0.50
tip_amount,10000.0,2.634494,3.409800,0.00,0.000,2.0,3.25,43.00
tolls_amount,10000.0,0.623447,6.437507,-6.12,0.000,0.0,0.00,612.00
improvement_surcharge,10000.0,0.298140,0.032537,-0.30,0.300,0.3,0.30,0.30
total_amount,10000.0,22.564659,19.209255,-65.92,12.375,16.3,22.88,671.80
congestion_surcharge,10000.0,2.282800,0.720946,-2.50,2.500,2.5,2.50,2.75

Isolate the fare_amount, tip_amount, tolls_amount, and total_amount for the longest trip by distance (trip_distance).

In [15]:
isolate = data[data['trip_distance'] == data['trip_distance'].max()][["trip_distance","fare_amount", "tip_amount", "tolls_amount", "total_amount"]]
print(isolate)

      trip_distance  fare_amount  tip_amount  tolls_amount  total_amount
8338          38.11        176.0       18.29          6.12        201.21